*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
    background-color: #004643;
  }
  
  header{
    padding: 20px;
    color: #abd1c6;
  }
  main{
    height: 1200px;
    padding: 20px;
    background-color: #e8e4e6;
    margin: 10px;
  }
  
  section{
    height: 120px;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
  }

  .fico-centro{
    text-align: center;
  }

  .fico-direito{
position:absolute;
top: 1200px;
margin-left: 1050px;
  }
  
  nav{
    padding: 20px;
    background-color: white;
    position:sticky;
    top:0;
    width: 180;
  }
  
  footer{
    background-color: #abd1c6;
    padding: 20px;
    text-align: center;
  }

 .fico-verde:active{
    background-color: green;
  }

  h3:hover{
    background-color: yellow;
  }