*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button:hover{
    background-color: blue;
    color: white;
    
    }

button:active{
background-color: pink;
color:red;
}

header{
    margin:0 auto;
    text-align: center;
}

