*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2, h3,h4,h5,h6, p{
    color: orange;
    margin-bottom: 25px;
}

#texto-com-outra-cor{
    color: green;
    background-color: yellow;
}

.texto-com-background{
    background-color: yellow;
}